
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-forward:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-list-alt:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-th-large:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-up-open:before { content: '\e809'; } /* '' */
.icon-bookmark:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-left-small:before { content: '\e80c'; } /* '' */
.icon-right-small:before { content: '\e80d'; } /* '' */
.icon-arrows-cw:before { content: '\e80e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */