.auth_box {
    width: 85vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.20)
}
.auth_box > div {
    width: 50%;
    height: 100%;
    float: left;
}
.auth_box > div:nth-child(1) {
    position: relative;
    background-image: linear-gradient(to right bottom,
        rgb(53, 153, 252),
        rgb(37, 86, 221)
    );
    padding: 30px 75px 0px 25px;
    color: #fff;
    text-align: right;
}
.auth_box > div:nth-child(1) .logo {
    position: absolute;
    top: 30px;
    left: 25px;
}
.auth_box > div:nth-child(1) .auth_info {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.auth_box > div:nth-child(1) p {
    font-size: 13px;
    line-height: 1.3;
    font-weight: 300;
}
.auth_box > div:nth-child(2) {
    position: relative;
    background-color: rgb(246, 249, 254);
    padding: 20px 70px;
}
.auth_box > div:nth-child(2) p {
    color: #aaa;
    font-size: 11px;
    font-weight: 600;
    text-align: right;
}
.auth_box > div:nth-child(2) p a {
    color: rgb(23, 120, 236);
    display: inline-block;
    background-color: #fff;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1)
}
form {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.auth_box .form_item {
    position: relative;
    height: 50px;
    margin-bottom: 25px;
}
.auth_box .form_item input {
    -webkit-appearance: none;
    font-size: 14px;
    padding: 9px 5px;
    background-color: rgb(246, 249, 254);
    border: none;
    border-bottom: 2px solid #ddd;
    width: 90%;
    display: block;
    transition: all .3s;
    outline: none;
}
.auth_box .form_item input:focus {
    outline: none;
    color: #000;
    border-bottom: 2px solid rgb(23, 120, 236);
}
.auth_box .form_item input:focus::-webkit-input-placeholder {
    color: #aaa;
}
.auth_box .form_item input::-webkit-input-placeholder {
    color: #d0d0d0;
}
.auth_box .form_item label {            
    font-size: 11px;
    margin-left: 5px;
    margin-top: -48px;
    font-weight: 600;
    display: block;
    transition: all .3s;
    text-transform: uppercase;
    color: #8f8f8f;
}
.auth_box .form_item input:placeholder-shown ~ label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
}
.auth_box .errors {
    text-align: left;
    font-size: 15px;
}