.more {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
}
.more_icon {
    text-align: center;
    line-height: 50px;
    float: right;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 50;
    background-color: transparent;
    border: none;
    font-size: 15px;
    outline: none;
}
.more_icon:hover {
    cursor: pointer;
    z-index: 50;
}
.more_icon:hover + .more_options {
    transform: translateY(-15px) translateX(0px);
    opacity: 1;
    visibility: visible;
    z-index: 500;
}
.more_options {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0px) translateX(0px);
    transition: .3s;
    width: 150px;
    border-radius: 6px;
    position: absolute;
    top: 50px;
    left: -100px;
    z-index: 500;
}
.more_options:hover {
    transform: translateY(-15px) translateX(0px);
    opacity: 1;
    visibility: visible;
    z-index: 500;
}
.more_options > * {
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 100%;
    height: auto;
    background-color: rgb(226, 229, 234);
    font-size: 13px;
    margin: 0;
    padding: 8px 7px;
    display: block;
    color: #333;
    text-decoration: none;
    text-align: left;
}
.more_options > *:hover {
    cursor: pointer;
    background-color: rgb(221, 224, 229);
}
.more_options > *:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}
.more_icons > * {
    -webkit-appearance: none;
    border: none;
    outline: none;
    font-size: 13px;
    margin: 3px 0;
    margin-top: 8px;
    padding: 8px 7px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 50%;
    transition: .25s
}
.more_icons > *:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}
.more_icons > a {
    margin-right: 20px;
}
.more_icons i.icon-bookmark {
    color: orange;
}
